body{
    background-color: #13141b;
    color: #ffffff;
    background-image: url(images/bg-image.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.form-control{
    background-color:rgba(255, 255, 255, 0.2);
    padding: 22px;
    border: none;
    border-radius: 25px;
}
.btn{
    border-radius: 1.5rem;
    padding: 9px 20px;
}

.btn-privious{
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}
.navbar-toggler {
    border: none;
}
.search-box{
    position: relative;
}
.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.single-result{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

.single-result a{
    text-decoration: none;
    /* color: #28a745; */
    color: white;
}

.desc{
    font-weight: 400;
}

#play-song{
    /* margin: 10px; */
    margin-bottom: 5px;
    width: 109.26px;
    height: 44px;
}

#get-lyrics-btn{
    margin-bottom: 5px;
}

/* audio{
    width: 109.26px;
    height: 44px;
} */